<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="panel panel-default">
        <div class="note">
          <div class="notes">
            <h4>Notes on the question:</h4>
            <hr/>
          </div>
          <div class="panel-body">
            <p>{{question.notes}}</p>
            <p><em>~{{question.author}}</em></p>
          </div>
        </div>
      </div>

      <!-- <button class="btn btn-danger btn-xs" {{action 'delete' question}}>Del Question</button> -->
      <img src="/image/bin.png" {{action 'delete' question}} class="delete">
    </div>
    <div class="col-md-6 col-sm-6">
      <h3>Answers</h3>
      <hr>
      {{#each question.answers as |answer|}}
        {{answer-tile answer=answer destroyAnswer="destroyAnswer" answerUp="answerUp" answerDown="answerDown"}}
      {{/each}}
    </div>
  </div>
</div>
